[submodule "third_party/FlameGraph"]
	path = third_party/FlameGraph
	url = git@github.com:mattweingarten/FlameGraph.git
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = git@github.com:mattweingarten/llvm-project.git
	branch = heapalloc
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git@github.com:mattweingarten/abseil-cpp.git
	branch = heapalloc
[submodule "third_party/fleetbench"]
	path = third_party/fleetbench
	url = git@github.com:google/fleetbench.git
[submodule "third_party/DCPerf"]
	path = third_party/DCPerf
	url = git@github.com:mattweingarten/DCPerf.git
[submodule "testsuite/clang-memprof"]
	path = testsuite/clang-memprof
	url = git@github.com:mattweingarten/llvm-project.git
	branch = heapalloc
[submodule "testsuite/fleetbench"]
	path = testsuite/fleetbench
	url = git@github.com:ice-rlab/fleetbench.git
[submodule "testsuite/llama"]
	path = testsuite/llama
	url = git@github.com:ice-rlab/llama.git
